
// -------------------------------------------
//  Migration Styles -
//
//  These changes allow rows to work with
//  existing templates in BK10
// -------------------------------------------



// Template styling resets
// ------------------------------------

#migrated {

    .bk-pt-default {
        margin-top: 0;
        padding-top: 40px;
    }

    // Remove the canvas padding to allow rows to go full width
    .canvas {
        padding: 0;
    }

    // Re-add spacing back to the feature widget
    .canvas > section {
        padding: 30px 30px 0;
    }
}



// Row improvments
// ------------------------------------

[id^="migrate"] .row--image-text-7a blockquote {
    padding: 16px;
}



// Re-add the reset styles
// ------------------------------------

#migrated {

    #page-zones__main > .widget:not([data-name="row"]) {
        margin-left: auto;
        margin-right: auto;
        width: ~"calc(100% - 60px)";

        &:last-child {
            margin-bottom: 30px;        // Re-add main zone bottom spacing
        }
    }

    .bk-pt-default + .canvas #page-zones__main > .widget:not([data-name="row"]) {
        &:first-child {
           margin-top: 30px; 
        }
        
        &:last-child {
            margin-bottom: 30px;
        }
    }

    // Add spacing to the top of a widget when it proceeds a row
    #page-zones__main > [data-name="row"] + .widget:not([data-name="row"]) {
        margin-top: 16px;
    }
}
